<template>
    <div id="logger-container" class="container-fluid">
        <transition name="fade">
            <div id="logger" class="container" v-if="service.notEmpty()">
                {{service.getLastMessage()}}
            </div>
        </transition>
    </div>
</template>

<script>
    import loggerService from "@/services/logger";

    export default {
        name: "Logger",
        props: {
            service: loggerService
        }
    }
</script>

<style scoped>
    #logger-container {
        position: fixed;
        display: grid;
        place-items: center;
        z-index: 10;
    }

    #logger {

        color: var(--text-color);
        display: grid;
        place-items: center;

        padding: 5px;
        background-color: var(--logger-bg-color);

        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border: solid 1px var(--border-color);

        font-family: var(--font-family);
        font-size: 24px;
    }
</style>