<template>
    <div id="about" class="container-fluid">
        <h1>About</h1>
        <h3>How to</h3>
        <p>
            Let's say you wanna add a song into your library. You gotta go into the <router-link to="/musics">Musics</router-link> section.<br>
            There, you can search for this song. Once done, two scenarios are possibles:
        </p>
        <ul>
            <li>the song is marked as <code>available</code>: then you can add this song into your library (by clicking on <code>add to library</code>) without further steps</li>
            <li>the song is marked as <code>not available</code>: if so, then add this song into your <code>waiting-list</code>. <br>
                Then, check your <router-link to="/dashboard">Dashboard</router-link> section. You should see the song you've just added. By clicking on <code>Process</code>, <br>
                you will make this song available for every user of the website and you will add this song into your library. <br>
                Note that you can add more songs into your <code>waiting-list</code> before processing all them on one click. <br>
            </li>
        </ul>
        <h3>Powered by</h3>
        <ul>
            <li>Backend written in <a href="https://golang.org/" target="_blank"><img src="https://golang.org/lib/godoc/images/go-logo-blue.svg" style="width: 40px"></a></li>
            <li>Hosted with <a href="https://archlinux.org" target="_blank"><img src="https://www.archlinux.org/static/archnavbar/archlogo.a2d0ef2df27d.png" style="height: 20px"></a></li>
            <li>Runtime by <a href="https://podman.io" target="_blank"><img src="https://podman.io/images/podman.svg" style="height: 30px"></a></li>
            <li>Frontend written with <a href="https://vuejs.org/" target="_blank"><img src="https://vuejs.org/images/logo.png" style="width: 25px"></a></li>
        </ul>
        <h3>Resources</h3>
        <table id="resource-table" class="table table-borderless table-hover">
            <thead>
            <tr>
                <th style="width: 20%">Asset</th>
                <th>Source</th>
                <th>Credit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>echo_slam</code></td>
                <td><a href="https://dota2.gamepedia.com/File:Echo_Slam_icon.png" target="_blank">
                    https://dota2.gamepedia.com/File:Echo_Slam_icon.png
                </a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>default_connection_form_background</code></td>
                <td><a href="https://dota2.gamepedia.com/Quake_and_Fissure" target="_blank">
                    https://dota2.gamepedia.com/Quake_and_Fissure
                </a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>planetfall_connection_form_background</code></td>
                <td><a href="https://dota2.gamepedia.com/File:Planetfall_Preview_10.jpg" target="_blank">
                    https://dota2.gamepedia.com/File:Planetfall_Preview_10.jpg
                </a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>default_background</code></td>
                <td><a href="https://www.reddit.com/r/DotA2/comments/96o1ty/echo_slam_remnant/" target="_blank">
                    https://www.reddit.com/r/DotA2/comments/96o1ty/echo_slam_remnant
                </a></td>
                <td><a href="https://twitter.com/Nhim_Art" target="_blank">@Nhim_Art</a></td>
            </tr>
            <tr>
                <td><code>default_HUD</code></td>
                <td><a href="https://dota2.gamepedia.com/File:Empowered_16x9.png" target="_blank">
                    https://dota2.gamepedia.com/File:Empowered_16x9.png
                </a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>planetfall_HUD</code></td>
                <td><a href="https://dota2.gamepedia.com/File:Crystallized_Mana_16x9.png" target="_blank">
                    https://dota2.gamepedia.com/File:Crystallized_Mana_16x9.png</a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>default_earthshaker_minimap_icon</code></td>
                <td><a href="https://dota2.gamepedia.com/File:Earthshaker_minimap_icon.png" target="_blank">
                    https://dota2.gamepedia.com/File:Earthshaker_minimap_icon.png
                </a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>planetfall_earthshaker_minimap_icon</code></td>
                <td><a href="https://dota2.gamepedia.com/File:Planetfall_Earthshaker_minimap_icon.png" target="_blank">
                    https://dota2.gamepedia.com/File:Planetfall_Earthshaker_minimap_icon.png
                </a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>town_portal_scrolls</code></td>
                <td><a href="https://dota2.gamepedia.com/File:Town_Portal_Scroll_icon.png" target="_blank">
                    https://dota2.gamepedia.com/File:Town_Portal_Scroll_icon.png
                </a></td>
                <td><a href="https://dota2.gamepedia.com/Dota_2_Wiki">Dota 2 Gamepedia Wiki</a></td>
            </tr>
            <tr>
                <td><code>icons not listed above</code></td>
                <td><a href="https://icons8.com/" target="_blank">
                    https://icons8.com/
                </a></td>
                <td><a href="https://icons8.com/">Icons8</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "AboutView"
    }
</script>

<style scoped>
    #about {
        font-family: var(--font-family);
    }

    #resource-table {
        color: var(--text-color);
    }
</style>