<template>
    <div>
        <div class="container connection-title">
            <h1>Welcome to Echo-Slam</h1>
            <hr>
        </div>
        <div id="connection-form" class="container">
            <div id="tabs" class="btn-group btn-group-toggle" role="group">
                <button @click="setSignInMode" class="btn btn-primary"
                        style="border-bottom-left-radius: 20px; border-top-left-radius: 20px">
                    Sign In
                </button>
                <button @click="setSignUpMode" class="btn btn-primary"
                        style="border-bottom-right-radius: 20px; border-top-right-radius: 20px">
                    Sign Up
                </button>
            </div>
            <transition name="fade">
                <div v-if="displayMode === displayModeList.SignIn">
                    <form class="form">
                        <div class="form-group">
                            <label for="usernameInput"><small>Username</small></label>
                            <div class="input-group">
                                <input id="usernameInput" class="form-control" v-model="usernameInput" type="text"
                                       placeholder="Username...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordInput"><small>Password</small></label>
                            <div class="input-group">
                                <input id="passwordInput" class="form-control" v-model="passwordInput" type="password"
                                       placeholder="Password...">
                            </div>
                        </div>
                        <div class="form-group" style="display: grid; place-items: center">
                            <div v-if="isLoading === false" @click="signIn" class="totem-button">
                                <div class="totem-button-text">SIGN IN</div>
                            </div>
                            <div v-else>
                                <span class="totem-loader" />
                            </div>
                        </div>
                    </form>
                </div>
            </transition>
            <transition name="fade">
                <div v-if="displayMode === displayModeList.SignUp">
                <form class="form">
<!--                    username-->
                    <div class="form-group">
                        <label for="usernameInputSignUp">
                            <small>Username</small>
                        </label>
                        <div class="input-group">
                            <input @input="checkUsername" id="usernameInputSignUp" class="form-control"
                                   v-model="usernameInput" type="text" placeholder="Username...">
                        </div>
                        <small v-if="usernameValid">
                            <img class="is-valid" src="@/assets/icons/valid.png">
                            Username is valid
                        </small>
                        <small v-else>
                            <img class="is-valid" src="@/assets/icons/invalid.png">
                            Username is not valid
                        </small>
                    </div>

<!--                    passwords-->
                    <div class="form-group">
                        <label for="passwordInputSignUp"><small>Password</small></label>
                        <div class="input-group">
                            <input id="passwordInputSignUp" class="form-control" v-model="passwordInput" type="password"
                                   placeholder="Password...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordInputSignUpConfirm"><small>Confirm your password</small></label>
                        <div class="input-group">
                            <input id="passwordInputSignUpConfirm" class="form-control" v-model="passwordConfirmInput" type="password"
                                   placeholder="Confirm your password...">
                        </div>
                    </div>

<!--                    recovery way-->
                    <div class="form-group" style="display: grid; place-items: center">
                        <label>
                            <small>Choose a way to recover your account</small>
                            <select v-model="recoverByInput" class="custom-select">
                                <option :value="recoverByList.telegram">Telegram</option>
                                <option :value="recoverByList.email">Email</option>
                            </select>
                        </label>
                    </div>

<!--                    contact-->
                    <div class="form-group">
                        <div v-if="recoverByInput === recoverByList.telegram">
                            <label for="contactTelegramInput"><small>Telegram User ID</small></label>
                            <div class="input-group">
                                <input id="contactTelegramInput" class="form-control" v-model="contactInput" type="text"
                                       placeholder="Telegram User ID...">
                            </div>
                            <i>
                                You can get your user ID by sending <code>/id</code> to the telegram bot <code>@EchoSlamBot</code>
                            </i>
                        </div>
                        <div v-else-if="recoverByInput === recoverByList.email">
                            <label for="contactEmailInput"><small>Email</small></label>
                            <div class="input-group">
                                <input id="contactEmailInput" class="form-control" v-model="contactInput" type="text"
                                       placeholder="Email...">
                            </div>
                            <i>
                                This email address won't be use for business or promo stuff. It will only be used for recovery.
                            </i>
                        </div>
                    </div>

<!--                    avatars-->
                    <div class="form-group" id="avatar-list" style="text-align: center">
                        <div>
                            <small>Choose an avatar</small>
                        </div>
                        <div>
                            <img @click="setPreviousAvatar" src="@/assets/icons/arrow-left.png" style="cursor: pointer">
                            <span>
                                <img :src="getAvatar(currentAvatar)" id="avatar-image">
                            </span>
                            <img @click="setNextAvatar" src="@/assets/icons/arrow-right.png" style="cursor: pointer">
                        </div>
                    </div>

<!--                    submit button-->
                    <div class="form-group" style="display: grid; place-items: center">
                        <div v-if="isLoading === false" @click="signUp" class="totem-button">
                            <div class="totem-button-text">SIGN UP</div>
                        </div>
                        <div v-else>
                            <span class="totem-loader" />
                        </div>
                    </div>

<!--                    already have a code-->
                    <div class="form-group" style="display: grid; place-items: center">
                            <button class="btn btn-primary" @click="setConfirmCodeSignUpMode"
                                    type="button" style="font-family: var(--font-family);">
                                Already have a confirmation code ?
                            </button>
                    </div>
                </form>
            </div>
            </transition>
            <transition name="fade">
                <div v-if="displayMode === displayModeList.ConfirmCodeSignUp">
                    <form class="form">
<!--                        username confirm-->
                        <div class="form-group">
                            <label for="usernameInputSignUpConfirm"><small>Username</small></label>
                            <div class="input-group">
                                <input id="usernameInputSignUpConfirm" class="form-control" v-model="usernameInput" type="text"
                                       placeholder="Username...">
                            </div>
                        </div>

<!--                        password confirm-->
                        <div class="form-group">
                            <label for="passwordInputConfirmSignUp"><small>Password</small></label>
                            <div class="input-group">
                                <input id="passwordInputConfirmSignUp" class="form-control" v-model="passwordInput" type="password"
                                       placeholder="Password...">
                            </div>
                        </div>

<!--                        code confirm-->
                        <div class="form-group">
                            <label for="confirmationCodeInput"><small>Confirmation code</small></label>
                            <div class="input-group">
                                <input id="confirmationCodeInput" class="form-control" v-model="confirmationCodeInput" type="text"
                                       placeholder="Code...">
                            </div>
                        </div>

<!--                        submit button-->
                        <div class="form-group" style="display: grid; place-items: center">
                            <div v-if="isLoading === false" @click="confirmCode" class="totem-button">
                                <div class="totem-button-text">CONFIRM</div>
                            </div>
                            <div v-else>
                                <span class="totem-loader" />
                            </div>
                        </div>
                    </form>
                </div>
            </transition>
            <transition name="fade">
                <div v-if="displayMode === displayModeList.ConfirmCodeLostPassword">
                    <!--todo-->
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import profileService from "@/services/profile";
    import miscService from "@/services/misc";

    export default {
        name: "ConnectionForm",
        data() {
            return {
                service: null,
                miscService: null,

                // inputs
                usernameInput: "",
                passwordInput: "",
                passwordConfirmInput: "",
                recoverByInput: "",
                contactInput: "",
                passwordInputConfirm: "",
                confirmationCodeInput: "",
                avatarInput: "",

                recoverByList: {
                    telegram: "telegram",
                    email: "email"
                },

                // dom
                displayMode: "signin",
                displayModeList: {
                    SignIn: "signin",
                    SignUp: "signup",
                    ConfirmCodeSignUp: "confirm_code_sign_up",
                    ConfirmCodeLostPassword: "confirm_code_lost_password"
                },

                avatarList: [],
                currentAvatar: 0,

                usernameValid: false,

                isLoading: false
            }
        },
        created() {
            this.service = new profileService();
            this.miscService = new miscService();

            this.getAvatarList();
        },
        methods: {
            // dom
            setSignInMode() {
                if (this.displayMode === this.displayModeList.SignIn) {
                    return
                }

                let self = this;

                this.displayMode = null;

                setTimeout(function() {
                    self.displayMode = self.displayModeList.SignIn;
                }, 500)
            },

            setSignUpMode() {
                if (this.displayMode === this.displayModeList.SignUp) {
                    return
                }

                let self = this;

                this.displayMode = null;

                setTimeout(function() {
                    self.displayMode = self.displayModeList.SignUp;
                }, 500)
            },

            setConfirmCodeSignUpMode() {
                if (this.displayMode === this.displayModeList.ConfirmCodeSignUp) {
                    return
                }

                let self = this;

                this.displayMode = null;

                setTimeout(function() {
                    self.displayMode = self.displayModeList.ConfirmCodeSignUp;
                }, 500)
            },

            setConfirmCodeLostPasswordMode() {
                let self = this;

                this.displayMode = null;

                setTimeout(function() {
                    self.displayMode = self.displayModeList.ConfirmCodeLostPassword;
                }, 200)
            },

            log(msg) {
                this.$emit('log', msg)

            },

            getAvatar() {
                return this.miscService.getAvatarUrl(
                    this.avatarList[this.currentAvatar]
                )
            },
            setPreviousAvatar() {
                if (this.currentAvatar === 0) {
                    return;
                }

                this.currentAvatar -= 1
            },
            setNextAvatar() {
                if (this.currentAvatar === this.avatarList.length - 1) {
                    return
                }

                this.currentAvatar += 1;
            },

            // services
            signIn() {
                this.isLoading = true;
                if (this.usernameInput === "" || this.passwordInput === "") {
                    this.log("empty entry");
                    this.isLoading = false;
                    return
                }

                let self = this;
                this.service.signIn(this.usernameInput, this.passwordInput)
                    .then(function(res) {
                        self.$emit('connect', res.Content);
                        self.isloading = false;
                    })
                    .catch(function(error) {
                        self.log(error);
                        self.isLoading = false;
                    })
            },

            signUp() {
                this.isLoading = true;

                const avatar = this.avatarList[this.currentAvatar];

                if (this.usernameInput === "" || this.passwordInput === ""
                        || this.passwordConfirmInput === "" || this.recoverByInput === ""
                        || this.contactInput === "" || avatar === "") {

                    this.log("empty entry");
                    this.isLoading = false;
                    return
                }

                let self = this;
                this.service.signUp(this.usernameInput, this.passwordInput,
                    this.recoverByInput, this.contactInput, avatar)
                    .then(function() {
                        self.log("A confirmation code has been sent");
                        self.isLoading = false;
                        self.setConfirmCodeSignUpMode();
                    })
                    .catch(function(error){
                        self.log(error);
                        self.isLoading = false;
                    })
            },

            confirmCode() {
                this.isLoading = true;
                if (this.usernameInput === "" || this.passwordInput === "" || this.confirmationCodeInput === "") {
                    this.log("empty entry");
                    this.isLoading = false;
                    return;
                }

                let self = this;
                this.service.signUpConfirm(this.usernameInput, this.passwordInput, this.confirmationCodeInput)
                    .then(function(res) {
                        console.log(res);
                        self.log("You have been registered, you can now login");
                        self.isLoading = false;
                        self.setSignInMode();
                    })
                    .catch(function (error) {
                        self.log(error);
                        self.isLoading = false;
                    })
            },

            getAvatarList() {
                let self = this;
                this.miscService.getAvatarList()
                    .then(function(list) {
                        self.avatarList = list;
                    })
                    .catch(function(error) {
                        self.log(error)
                    })
            },

            checkUsername() {
                let self = this;
                this.miscService.checkProfileUsername(this.usernameInput)
                    .then(function(res) {
                        self.usernameValid = !res;
                    })
                    .catch(function() {
                        self.usernameValid = false;
                    })
            }
        }
    }
</script>

<style scoped>
    #connection-form {
        margin-top: 50px;
        padding: 10px;
        width: 500px;
        border-radius: 30px;
        border: solid 2px var(--border-color);
        background-image: var(--connection-form-bg-img);
        background-repeat: no-repeat;
        color: var(--text-color);

    }

    #usernameInput, #usernameInputSignUp, #confirmationCodeInput {
        font-size: 64px;
    }

    input, select {
        font-family: var(--font-family);
        color: var(--connection-form-input-color);
        background-color: var(--connection-form-input-bg-color);
    }

    input:focus {
        color: var(--connection-form-input-color);
        background-color: var(--connection-form-input-bg-color);
    }

    #tabs {
        font-family: var(--font-family);
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #avatar-list {
        overflow: auto;
    }

    #avatar-image {
        border: solid 2px var(--border-color);
    }

    .is-valid {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    .connection-title {
        margin-top: 75px;
        font-family: var(--font-family);
        text-align: center;
    }
</style>