<template>
    <div>
        <div class="container connection-title">
            <h1>Welcome to Echo-Slam</h1>
            <hr>
        </div>
        <div class="container" style="text-align: center">
            <p>
                This website intends to give you simple tools to compose your own music library.
            </p>
            <p>
                You can add any music available from Spotify into your library.
            </p>
            <p>
                I do not make money with this website.<br>
                No ads, nor premium feature will ever appear.<br>
                No cookie or personal data is shared with anybody.
            </p>
            <p>
                This website is free to use.
            </p>
            <p>
                For more technical infos, check <router-link to="/about">here</router-link>.
            </p>
            <hr>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomeNotConnectedView"
    }
</script>

<style scoped>
    .connection-title {
        margin-top: 75px;
        font-family: var(--font-family);
        text-align: center;
    }
</style>