<template>
    <div id="main-router">

        <Ribbon
                :is-dark-mode="theme === themeList.darkMode"
                :connected="connected"
                @setMode="setMode"
        ></Ribbon>

        <Logger v-if="loggerService !== null" :service="loggerService"></Logger>

        <div id="router-view" class="container-fluid">
            <router-view
                    @disconnect="disconnect"
                    @connect="connect"

                    @log="log"
            ></router-view>
        </div>
    </div>
</template>

<script>
    import config from "@/config/config";
    import Ribbon from "@/components/notConnected/Ribbon";
    import Logger from "@/components/logger/Logger";
    import loggerService from "@/services/logger";
    import profileService from "@/services/profile";

    export default {
        name: "MainRouter",
        components: {
            Logger,
            Ribbon,
        },
        data() {
            return {
                connected: false,

                loggerService: null,
                profileService: null,

                // display mode stuff
                theme: "0",
                themeList: {
                    darkMode: "1",
                    defaultMode: "0"
                }
            }
        },
        mounted() {
            // setup mode
            const isDarkMode = localStorage.getItem(config.DOM.darkMode.darkModeKey);
            if (isDarkMode === this.themeList.darkMode) {
                let self = this;
                self.setDarkMode();
            }

            // setup logger
            this.loggerService = new loggerService();

            // setup service
            this.profileService = new profileService();

            // check jwt to adapt ribbon
            this.checkJwt();
        },
        methods: {
            connect(jwt) {
                localStorage.setItem(config.jwt.key, jwt);
                this.connected = true;
                this.$router.push('/');
            },

            disconnect() {
                localStorage.removeItem(config.jwt.key);
                this.connected = false;
            },

            checkJwt() {
                let jwt= localStorage.getItem(config.jwt.key);
                let self = this;
                this.profileService.checkJwt(jwt)
                    .then(function(s) {
                        if (s === true) {
                            self.connected = true;
                        }
                    })
            },

            // ----- DOM

            // modes
            setMode() {
                if (this.theme === this.themeList.defaultMode) {
                    this.setDarkMode();
                } else {
                    this.setDefaultMode();
                }
            },


            setDarkMode() {
                localStorage.setItem(config.DOM.darkMode.darkModeKey, this.themeList.darkMode);
                const app = document.getElementById("app");
                app.classList.add("dark-mode");

                this.theme = this.themeList.darkMode;
            },

            setDefaultMode() {
                localStorage.setItem(config.DOM.darkMode.darkModeKey, this.themeList.defaultMode);
                const app = document.getElementById("app");
                app.classList.remove("dark-mode");

                this.theme = this.themeList.defaultMode;
            },

            // logger
            log(msg) {
                this.loggerService.log(msg);
            }
        }
    }
</script>

<style scoped>
    #router-view {
        margin-top: 20px;
    }
</style>