<template>
    <div id="not-found">
        <h1>404 - NOT FOUND</h1>
        <p>
            What are doing in these shattered lands ?
        </p>
    </div>
</template>

<script>
    export default {
        name: "NotFound"
    }
</script>

<style scoped>
    #not-found {
        font-family: var(--font-family);
    }
</style>