<template>
    <div id="ribbon" class="sticky-top">
        <nav id="ribbon-navbar" :class="{
            'navbar navbar-expand-lg navbar-dark bg-dark': isDarkMode,
            'navbar navbar-expand-lg navbar-light bg-light': !isDarkMode
        }">
            <router-link class="navbar-brand" to="/">
                <img src="../../assets/echo-slam.png" class="brand-image">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item" v-if="connected">
                        <router-link class="nav-link" to="/library" active-class="active">
                            <img src="../../assets/icons/disc.png" class="link-image">
                            Library
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="connected">
                        <router-link class="nav-link" to="/musics" active-class="active">
                            <img src="../../assets/icons/chest_frame.png" class="link-image">
                            Musics
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="connected">
                        <router-link class="nav-link" to="/dashboard" active-class="active">
                            <img src="../../assets/icons/chart.png" class="link-image">
                            Dashboard
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="connected">
                        <router-link class="nav-link" to="/profile" active-class="active">
                            <img src="../../assets/elements/es_icon_minimap.png" class="link-image">
                            Profile
                        </router-link>
                    </li>
                    <li class="nav-item"  v-if="!connected">
                        <router-link class="nav-link" to="/connect" active-class="active">
                            Connect
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="ribbon-infos" class="row text-muted align-items-center" style="width: 100%" v-if="infos !== null">
            <div class="col">
                API {{infos.Version}} - Front {{version}} -
                <a :href="infos.LicenseUrl" target="_blank">License</a> -
                <a :href="`mailto:${infos.ContactEmail}?subject=[ECHO-SLAM.COM]`" target="_blank">Contact</a> -
                <router-link to="/about" target="_blank" active-class="active">
                    About
                </router-link>
            </div>

            <div id="set-theme" class="col custom-control custom-switch" style="display: grid; place-items: end">
                <input :checked="isDarkMode" @change="setMode" type="checkbox" class="custom-control-input" id="customSwitches">
                <label class="custom-control-label" for="customSwitches">
                    <img v-if="!isDarkMode" src="../../assets/elements/es_icon_minimap.png">
                    <img v-else src="../../assets/elements/es_planetfall_icon_minimap.png">
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    import miscService from "@/services/misc";

    export default {
        name: "Ribbon",
        props: {
            isDarkMode: Boolean,
            connected: Boolean,
        },
        data() {
            return {
                infos: null,
                miscService: null,
                version: "",
            }
        },
        created() {
            const mainConfig = require("../../../package.json");
            this.version = mainConfig.version;

            this.miscService = new miscService();
            this.getApiInfos();
        },

        methods: {

            getApiInfos() {
                let self = this;
                this.miscService.getApiInfos()
                    .then(function(res) {
                        self.infos = res;
                    })
                    .catch(function(err) {
                        console.log(err);
                    })
            },

            setMode() {
                this.$emit('setMode');
            },
        }
    }
</script>

<style scoped>
    .link-image {
        width: 20px;
        margin-bottom: 3px;
    }

    .brand-image {
        width: 30px;
        border-radius: 5px;
        border: solid 1px var(--border-color);
    }

    .brand-image:hover {
        cursor: pointer;
    }

    #set-theme {
        display: grid;
    }

    #ribbon-infos {
        font-family: monospace;
        padding: 5px;
    }

    #ribbon-navbar {
        background-color: var(--ribbon-bg-color) !important;
    }

    #ribbon {
        background-color: var(--ribbon-bg-color-front);
        border-bottom: solid;
        border-top: solid;
        border-width: 1px;
        border-color: var(--border-color);

        font-family: var(--font-family);
    }

</style>