:root {
    --text-color: black;
    --border-color: black;
    --bg-img: url("../wallpapers/default/reddit_slam_blurred.jpg");
    --hr-color: black;
    --font-family: Cinzel,serif;
    --es-icon: url('../elements/es_icon_minimap.png');
    --widget-bg-color: lightgrey;
    --widget-bg-color-hover: grey;

    /* connection form */
    --connection-form-bg-img: url("../wallpapers/default/es_wallpaper_steam.jpg");
    --connection-form-input-bg-color: white;
    --connection-form-input-color: black;

    /* logger */
    --logger-bg-color: white;

    /* hud */
    --hud-bg-image: url("../wallpapers/default/hud_empowered.png");
    --hud-audio-volum-icon: url("../icons/volume_es_default_icon.png");

    /* ribbon */
    --ribbon-bg-color: white;
    --ribbon-bg-color-front: lightgrey;
    --ribbon-border-color: black;

    /* tables */
    --header-bg-color: lightgrey;
    --list-view-bg-img: url("../icons/list_default_icon.png");
    --grid-view-bg-img: url("../icons/thumbnails_default_icon.png");
    --card-bg-color: lightgray;
    --card-expand-img: url("../../assets/icons/expand_default_icon.png");

    /* modal */
    --modal-bg-color: lightgrey;
}

.dark-mode {
    --text-color: white;
    --border-color: white;
    --bg-img: url("../wallpapers/planetfall/planetfall.jpeg");
    --hr-color: white;
    --font-family: Cinzel,serif;
    --es-icon: url('../elements/es_planetfall_icon_minimap.png');
    --widget-bg-color: #232f47;
    --widget-bg-color-hover: #151b29;

    /* connection form */
    --connection-form-bg-img: url("../wallpapers/planetfall/es_wallpaper_planetfall.jpg");
    --connection-form-input-bg-color: #232f47;
    --connection-form-input-color: white;

    /* logger */
    --logger-bg-color: #232f47;

    /* hud */
    --hud-bg-image: url("../wallpapers/planetfall/hud_crystallized_mana.png");
    --hud-audio-volum-icon: url("../icons/volume_es_planetfall_icon.png");

    /* ribbon */
    --ribbon-bg-color: #232f47;
    --ribbon-bg-color-front: #151b29;
    --ribbon-border-color: white;

    /* tables */
    --header-bg-color: #232f47;
    --list-view-bg-img: url("../icons/list_planetfall_icon.png");
    --grid-view-bg-img: url("../icons/thumbnails_planetfall_icon.png");
    --card-bg-color: #282828;
    --card-expand-img: url("../../assets/icons/expand_planetfall_icon.png");

    /* modal */
    --modal-bg-color: #232f47;
}

body {
}

hr {
    border: solid 1px var(--hr-color);
}
