.totem-button {
    /*center content*/
    display: grid;
    place-items: center;
    position: relative;

    /*image*/
    background-image: url('../../assets/elements/totem-button.png');
    background-repeat: no-repeat;
    width: 167px;
    height: 71px;

    cursor: pointer;
    font-size: 24px;
    color: white;

    transition: background-image 0.3s;
}

.totem-button:hover {
    background-image: url("../../assets/elements/totem-button-blurred.png");
}

.totem-button:active {
    font-size: 28px;
}

.totem-button-text {
    /*text*/
    position: relative;
    font-family: Cinzel,serif;
    user-select: none;
}