.totem-loader {
    animation-name: totem-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: url("../../assets/elements/totem-animation.png");
    background-repeat: no-repeat;

    width: 100px;
    height: 43px;

    margin: 33px 0 33px 0;

    display: grid;
    place-items: center;
}

@keyframes totem-animation {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}