<template>
    <div id="dashboad-view">
        <h1>Dashboard</h1>

<!--        waiting list-->
        <div class="container">
            <h3>Waiting list</h3>
            <p>
                This list contains the musics which are not yet available and you wanna add to your library.
            </p>
            <p>
                By processing the waiting list, you will make those musics available for all users and will add those in your library.
            </p>
            <div v-if="waitingList.length > 0">
                <table class="table" id="video-table">
                    <thead id="video-table-headers">
                    <tr>
                        <td></td>
                        <td>Title</td>
                        <td>Artist</td>
                        <td>Album</td>
                        <td>Genre</td>
                        <td>Video</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="r in waitingList" :key="getResultId(r)">
                        <td><img :src="r.ImageUrl" style="width: 50px"></td>
                        <td>{{r.Title}}</td>
                        <td>{{r.Artist}}</td>
                        <td>{{r.Album}}</td>
                        <td><span class="badge badge-primary">{{r.Genres}}</span></td>
                        <td><a :href="r.Url" target="_blank"><img src="../../assets/icons/youtube.png"></a></td>
                        <td><button @click="removeFromWaitingList(r)" class="btn btn-danger"><img style="width: 20px" src="../../assets/icons/tras.png"></button></td>
                    </tr>
                    </tbody>
                </table>
                <div style="display: grid; place-items: center">
                    <button v-if="runningJob === null" @click="createJob" class="btn btn-primary">Process</button>
                    <div v-else class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div v-else class="text-muted" style="font-size: 36px; display: grid; place-items: center">
                Waiting list empty
            </div>
        </div>

<!--        current job status-->
        <div class="container">
            <h3>Job status</h3>
            <p>
                It displays the current status of jobs you've launched.
            </p>
            <div v-if="runningJob === null" class="text-muted" style="font-size: 36px; display: grid; place-items: center">
                No job running
            </div>
            <div v-else class="job-status">
                <div class="container">
                    started at {{new Date(this.runningJob.started_at).toUTCString()}}
                </div>
                <div style="padding: 10px; text-align: center" class="container">
                    {{this.runningJob.progress}}% - {{this.runningJob.status}}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="download-progress-bar" role="progressbar"
                             aria-valuemin="0" aria-valuemax="100" :style="{width: this.runningJob.progress + '%'}">

                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        last job status-->
        <div class="container">
            <h3>Last job status</h3>
            <p>
                It displays the last job done status.
            </p>
            <div v-if="lastJob === null" class="text-muted">
                No job run for now
            </div>
            <div v-else class="job-status">
                <div class="row">
                    <div class="col-2">
                        started at
                    </div>
                    <div class="col">
                        {{new Date(lastJob.started_at).toUTCString()}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        ended at
                    </div>
                    <div class="col">
                        {{new Date(lastJob.ended_at).toUTCString()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import musicsService from "@/services/musics";
    import config from "@/config/config";

    export default {
        name: "DashboardView",
        data() {
            return {
                service: null,
                waitingList: [],

                runningJob: null,
                lastJob: null,
            }
        },
        mounted() {
            const jwt = localStorage.getItem(config.jwt.key);
            this.service = new musicsService(jwt);

            this.getWaitingList();

            this.getJobStatus();
        },
        methods: {
            getWaitingList() {
                let self = this;
                this.service.getWaitingList()
                    .then(function(res) {
                        self.waitingList = res;
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },
            removeFromWaitingList(m) {
                let self = this;
                this.service.removeFromWaitingList(m.Title, m.Artist, m.Album)
                    .then(function() {
                        self.getWaitingList();
                    })
                    .catch(function(error) {
                        self.log(error);
                        self.getWaitingList();
                    });
            },
            createJob() {
                let self = this;
                this.service.createJob()
                    .then(function() {
                        self.getJobStatus()
                    })
                        .catch(function(error) {
                        self.log(error)
                    })
            },
            getJobStatus() {
                let self = this;
                let message = null;
                this.service.getJobStatus()
                    .then(function(res) {
                        message = "job done";
                        self.runningJob = res;

                        // recheck into 2s
                        setTimeout(self.getJobStatus, 2000);
                    })
                    .catch(function() {
                        self.runningJob = null;
                        if (message !== null) {
                            self.log(message);
                        }
                        self.getWaitingList();
                        self.getLastJobStatus();
                    })
            },
            getLastJobStatus() {
                let self = this;
                this.service.getLastJobStatus()
                    .then(function(res) {
                        self.lastJob = res;
                    })
                    .catch(function() {
                        self.lastJob = null;
                    })
            },

            log(msg) {
                this.$emit('log', msg);
            },
            getResultId(r) {
                let s = r.Title + " " + r.Artist;
                return s.toLowerCase().split(' ').join('_');
            },
        }
    }
</script>

<style scoped>

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    #video-table {
        color: var(--text-color);
    }

    #video-table-headers {
        font-weight: bold;
        background-color: var(--header-bg-color);
    }

    .job-status {
        font-family: monospace;
        margin-left: 10px;
    }
</style>