<template>
    <div id="home-view" class="container-fluid">
        <h1>Home</h1>
        <div class="row">
            <div class="col" style="text-align: center">
                <div v-if="healthCheckIsLoading">
                    <span class="totem-loader" />
                </div>
                <div v-else>
                    <div
                            :class="{ alert: true, 'alert-success': healthStatus, 'alert-danger': !healthStatus}"
                            role="alert">
                        <p>
                            <span v-for="a in healthList" :key="a.api_name">
                                <span v-if="a.check" class="badge badge-success service-status">
                                    {{a.api_name}}
                                </span>
                                <span v-else class="badge badge-danger service-status">
                                    {{a.api_name}}
                                </span>
                            </span>
                        </p>
                        <hr>
                        <div v-if="healthStatus">
                            <h4 class="alert-heading">No problem detected</h4>
                            <p >
                                All services are up and running.
                            </p>
                        </div>
                        <div v-else>
                            <h4 class="alert-heading">Problem detected</h4>
                            <p >
                                Maintenance is ongoing. Some features may not be working as expected.
                            </p>
                        </div>
                    </div>
                </div>
                <hr>

                <div v-if="lastConnectedLoading">
                    <span class="totem-loader" />
                </div>
                <div v-else>
                    <h3><b>Last connected users</b></h3>
                    <div class="row" v-for="p in lastConnectedUsers" :key="p.username" style="padding: 10px">
                        <div class="col-2">
                            <img class="user-avatar" :src="service.getAvatarUrl(p.avatar_name)">
                        </div>
                        <div class="col">
                            <div class="user-detail">
                                <div class="row">
                                    <h5>{{p.username}}</h5>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="font-family: monospace">
                                        connected at
                                    </div>
                                    <div class="col" style="font-family: monospace">
                                        {{new Date(p.date_connected).toUTCString()}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="font-family: monospace">
                                        listening to
                                    </div>
                                    <div class="col">
                                        <span class="playing-title" @click="play({
                                            Title: p.playing_title,
                                            Album: p.playing_album,
                                            Artist: p.playing_artist,
                                            Url: p.playing_url,
                                        })">
                                            <img src="../../assets/icons/play.png" style="width: 15px">
                                            {{p.playing_title}}
                                        </span> by {{p.playing_artist}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1" id="hr"></div>
            <div class="col" style="text-align: center">
                <hr>
                <h3><b>Last added music</b></h3>
                <div v-if="lastAddedLoading">
                    <span class="totem-loader" />
                </div>
                <div v-else class="row align-items-center" style="margin-top: 10px; margin-bottom: 10px;"
                     v-for="m in lastAddedList" :key="getKey(m)">
                    <div class="col-2">
                        <img @click="play(m)" :src="m.ImageUrl" class="added-music-thumbnail">
                    </div>
                    <div class="col" style="text-align: left">
                        <h3>{{m.Title}}</h3>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4">
                                        <small>by</small>
                                    </div>
                                    <div class="col">
                                        <b>{{m.Artist}}</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <small>in album</small>
                                    </div>
                                    <div class="col">
                                        <b>{{m.Album}}</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <small>Added at</small> {{new Date(m.AddedAt).toUTCString()}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

<!--    todo: add more accessibility for adding to library-->
</template>

<script>
    import miscService from "@/services/misc";
    import config from "@/config/config.json"

    export default {
        name: "HomeView",
        data() {
            return {
                service: null,
                healthList: [],
                healthStatus: false,

                healthCheckIsLoading: false,
                lastAddedLoading: false,
                lastConnectedLoading: false,

                lastAddedList: [],
                lastConnectedUsers: [],
            }
        },
        created() {
            this.service = new miscService();

            this.getHealth();

            this.getLastAddedList();

            this.getLastConnectedUsers();
        },
        methods: {
            getHealth() {
                this.healthCheckIsLoading = true;

                let self = this;
                this.service.getHealth()
                .then(function(l) {
                    self.healthList = l.Content.list;
                    self.healthStatus = l.Status;
                    self.healthCheckIsLoading = false;
                })
                .catch(function(err) {
                    self.log(err);
                })
            },

            getLastAddedList() {
                this.lastAddedLoading = true;

                const jwt = localStorage.getItem(config.jwt.key);
                let self = this;
                this.service.getLastAddedList(jwt)
                    .then(function(res) {
                        self.lastAddedList = res;

                        self.lastAddedLoading = false;
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },
            getLastConnectedUsers() {
                this.lastConnectedLoading = true;

                const jwt = localStorage.getItem(config.jwt.key);
                let self = this;
                this.service.getLastConnectedUsers(jwt)
                    .then(function(res) {
                        self.lastConnectedUsers = res;

                        self.lastConnectedLoading = false;
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },

            log(m) {
                this.$emit('log', m)
            },

            getKey(m) {
                return `${m.Title.toLowerCase()}_${m.Artist.toLowerCase()}`
            },

            play(m) {
                this.$emit('play', {
                    title: m.Title,
                    artist: m.Artist,
                    album: m.Album,
                    url: m.Url
                })
            }
        }
    }
</script>

<style scoped>
    #hr {
        border-left: solid 1px var(--border-color);
    }

    .service-status {
        margin: 10px;
    }


    /* added music */
    .added-music-thumbnail {
        width: 100px;
        border: solid 1px var(--border-color);
    }

    .added-music-thumbnail:hover {
        filter: brightness(50%);
        cursor: pointer;
        border-width: 3px;
    }

    .added-music-thumbnail:active {
        border-width: 5px;
    }

    /* user */
    .user-avatar {
        width: 100px;
        border: solid 1px var(--border-color);
    }

    .user-detail {
        text-align: left;
    }

    .playing-title {
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: var(--widget-bg-color);
        border: solid 1px var(--border-color);
        border-radius: 5px;
    }

    .playing-title:hover {
        background-color: var(--widget-bg-color-hover);
        cursor: pointer;
    }

    .playing-title:active {
        border-width: 3px;
    }

</style>