<template>
    <div id="home">
        <div v-if="connected === true">
            <div id="connected-router-view">
                <router-view @log="log" @play="play" :class="{'router-view-hud-uncollapsed': !hudCollapsed, 'router-view-collapsed': hudCollapsed}">
<!--                    router for connected users-->
                </router-view>
            </div>
            <div id="hud-view" :class="{'hud-not-collapsed': !hudCollapsed, 'hud-collapsed': hudCollapsed}">
            <span id="hud-collapse-widget" :class="{'hud-collapse-widget-passive': !hudCollapsed, 'hud-collapse-widget-active': hudCollapsed}">
                <img @click="hudCollapse" v-if="!hudCollapsed" style="width: 22px" src="../../assets/icons/expand_planetfall_icon.png">
                <img @click="hudUnCollapse" v-else style="width: 22px; transform: rotate(180deg)" src="../../assets/icons/expand_planetfall_icon.png" >
            </span>

            <Hud v-if="profile !== null"
                 ref="hud" :profile="profile"
                 :playing-in-library="playingInLibrary" :playing-is-available="playingIsAvailable"
                 @disconnect="disconnect"></Hud>
            </div>
        </div>
        <div v-else>
            <HomeNotConnectedView></HomeNotConnectedView>
        </div>
    </div>
    
</template>

<script>
    import profileService from "@/services/profile";
    import Hud from "@/components/connected/Hud";
    import musicsService from "@/services/musics";
    import libraryService from "@/services/library";
    import HomeNotConnectedView from "@/components/notConnected/HomeNotConnectedView";
    const config = require('../../config/config.json');

    export default {
        name: "Home",
        components: {HomeNotConnectedView, Hud},
        data() {
            return {
                connected: false,

                profileService: null,
                musics: null,
                library: null,

                profile: null,
                logger: null,

                hudCollapsed: false,

                playingInLibrary: null,
                playingIsAvailable: null,
            }
        },
        mounted() {
            this.profileService = new profileService();

            const jwt = localStorage.getItem(config.jwt.key);


            this.musics = new musicsService(jwt);
            this.library = new libraryService(jwt);

            this.checkJwt();
        },
        methods: {
            getProfile() {
                const jwt = localStorage.getItem(config.jwt.key);

                let self = this;
                this.profileService.getProfile(jwt)
                    .then(function(profile) {
                        self.profile = profile;

                        self.getMusicDetail();
                    })
                    .catch(function(error) {
                        self.logger.log(error)
                    })
            },

            log(msg) {
                this.$emit('log', msg)
            },

            hudCollapse() {
                this.hudCollapsed = true;
            },

            hudUnCollapse() {
                this.hudCollapsed = false;
            },

            getMusicDetail() {
                let self = this;
                this.musics.getMusic(self.profile.playing_title, self.profile.playing_artist)
                    .then(function(res) {
                        self.playingInLibrary = res.InLibrary;
                        self.playingIsAvailable = res.Available;
                    })
                    .catch(function() {
                        self.playingInLibrary = false;
                        self.playingIsAvailable = false;
                    });
            },

            play(m) {
                // received play event

                // update the player
                let self = this;
                const jwt = localStorage.getItem(config.jwt.key);
                this.profileService.updatePlayer(jwt, m.title, m.artist, m.album, m.url)
                    .then(function(p) {
                        self.profile = p;

                        // load after the profile update
                        let hud = self.$refs.hud;
                        hud.loadAndPlay(self.profile.playing_url);

                        // check if available and in library
                        self.getMusicDetail();
                    })
                    .catch(function(err) {
                        self.log(err);
                });

            },

            disconnect() {
                this.connected = false;
                this.$emit('disconnect')
            },

            checkJwt() {
                let jwt= localStorage.getItem(config.jwt.key);
                let self = this;
                this.profileService.checkJwt(jwt)
                    .then(function(s) {
                        if (s === true) {
                            self.connected = true;
                            self.getProfile();
                        }
                    })
            },
        }
    }
</script>

<style scoped>
    /*hud*/
    #hud-collapse-widget {
        position: fixed;
        width: 22px;
        left: 8px;

        transition: bottom 0.5s;
    }

    #hud-collapse-widget:hover {
        cursor: pointer;
        filter: brightness(200%);
    }


    .hud-collapse-widget-active {
        bottom: 17px;
    }

    .hud-collapse-widget-passive {
        bottom: 265px;
    }

    .hud-collapsed {
        bottom: -250px;
    }

    .hud-not-collapsed {
        bottom: 0;
    }

    #hud-view {
        left: 0;
        position: fixed;
        width: 100%;

        transition: bottom 0.5s;
    }

    /*router adjustements*/
    .router-view-hud-uncollapsed {
        margin-bottom: 300px;
    }

    .router-view-hud-collapsed {
        margin-bottom: 0;
    }

    #home {
        font-family: var(--font-family);
        /*color: var(--text-color);*/
    }

    .connection-title {
        margin-top: 75px;
        font-family: var(--font-family);
        text-align: center;
    }
</style>