<template>
    <div id="hud">
        <router-link to="/" id="home-button" exact-active-class="active-link">
            <span>
                <img src="../../assets/icons/home_white.png">
            </span>
        </router-link>
        <router-link to="/library" id="library-button" active-class="active-link">
            <span>
                <img src="../../assets/icons/disc.png">
            </span>
        </router-link>

        <router-link to="/musics" id="musics-button" exact-active-class="active-link">
            <span>
                <img src="../../assets/icons/chest_frame.png">
            </span>
        </router-link>

        <router-link to="/dashboard" id="dashboard-button" exact-active-class="active-link">
            <span>
                <img src="../../assets/icons/chart.png">
            </span>
        </router-link>

        <router-link to="/profile" id="profile-avatar" exact-active-class="active-link-profile">
            <span>
                <img :src="getAvatarUrl()">
            </span>
        </router-link>

        <router-link to="/about" id="about-button" target="_blank" exact-active-class="active-link">
            <img src="../../assets/icons/town_portal_scrolls.png">
        </router-link>

        <span class="totem-button" id="disconnect-button">
            <span class="totem-button-text" @click="disconnect">disconnect</span>
        </span>


        <span id="profile-username">{{profile.username}}</span>

        <span id="profile-infos">
            <small>Last connected at</small><br>{{dateConnected}}<br>
        </span>

        <span id="audio-visu">
            <canvas id="audio-visu-canvas"></canvas>
            <audio crossorigin="anonymous" ref="audio" id="audio-visu-player" src="../../assets/raw/aint_no_grave.mp3"></audio>
        </span>
        <div id="audio-controller" v-if="serviceAudio !== null">
            <div>
                <span>
                    <h3>{{playingTitle}}</h3>
                </span>
                <span>
                    by {{profile.playing_artist}}
                </span>
            </div>
            <div>
                <img class="music-widget" v-if="!isPlaying" @click="play()" src="../../assets/icons/play.png">
                <img class="music-widget" v-else @click="pause()" src="../../assets/icons/pause.png">

                <img class="music-widget" v-if="!isMuted" @click="mute()" src="../../assets/icons/volume.png">
                <img class="music-widget" v-else @click="unmute()" src="../../assets/icons/muted.png">

                <span class="music-widget">
                    <input type="range" min="0" max="1" class="slider" step="0.01"
                           v-model="volume"
                           @change="serviceAudio.setVolume(volume)">
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import audioVisu from "@/services/audioVisu";

    const config = require("../../config/config.json");

    export default {
        name: "Hud",
        props: {
            profile: Object
        },
        data() {
            return {
                baseUrlAvatar: "",
                serviceAudio: null,
                isMuted: false,
                isPlaying: false,
                volume: 0.5,
            }
        },
        mounted() {
            this.serviceAudio = new audioVisu("audio-visu-player", "audio-visu-canvas");
            // this.serviceAudio.setVolume(this.volume);
            this.serviceAudio.audioPlayer.volume = this.volume;

            this.serviceAudio.load(this.profile.playing_url)
        },
        computed: {
            dateConnected() {
                return new Date(this.profile.date_connected).toDateString()
            },
            dateRegistered() {
                return new Date(this.profile.date_registered).toDateString()
            },

            playingTitle() {
                let t = this.profile.playing_title;
                const limit = 20;
                if (t.length > limit) {
                    return t.slice(0, limit) + "...";
                }
                return t;
            }
        },
        methods: {
            getAvatarUrl() {
                return config.apiHost + "/avatar?name=" + this.profile.avatar_name;
            },

            disconnect() {
                this.$emit('disconnect')
            },

            loadAndPlay(url) {
                this.serviceAudio.load(url);
                this.play()
            },

            play() {
                this.isPlaying = true;
                this.serviceAudio.play();
            },

            pause() {
                this.isPlaying = false;
                this.serviceAudio.pause();
            },

            mute() {
                this.isMuted = true;
                this.serviceAudio.mute();
            },

            unmute() {
                this.isMuted = false;
                this.serviceAudio.unmute();
            }

        }
    }
</script>

<style scoped>
    #hud {
        height: 317px;
        font-family: var(--font-family);

        color: white;

        background-color: rgba(0, 0, 0, 0.5);
        background-image: var(--hud-bg-image);
    }

    .active-link {
        filter: brightness(200%);
    }

    /* link home */
    #home-button {
        position: absolute;
        bottom: 52px;
        left: 932px;
        padding-left: 10px;
        padding-right: 10px;
        width: 75px;

        text-align: center;
    }

    #home-button:hover {
        filter: brightness(200%);
    }

    /* link library */
    #library-button {
        position: absolute;
        bottom: 52px;
        left: 1040px;
        padding-left: 10px;
        padding-right: 10px;
        width: 75px;
    }

    #library-button:hover {
        filter: brightness(200%);
    }

    /* link musics */
    #musics-button {
        position: absolute;
        bottom: 52px;
        left: 1147px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #musics-button:hover {
        filter: brightness(200%);
    }

    /* link dashboard */
    #dashboard-button {
        position: absolute;
        bottom: 52px;
        left: 1263px;
    }

    #dashboard-button:hover {
        filter: brightness(200%);
    }

    /* avatar */
    #profile-avatar {
        position: absolute;
        left: 505px;
        bottom: 70px;
        text-align: center;

        border: solid 4px grey;
    }

    #profile-avatar:hover {
        border-color: white;
        filter: brightness(125%);
        cursor: pointer;
    }

    .active-link-profile {
        border-color: white !important;
        filter: brightness(125%);
    }

    /* username */
    #profile-username {
        font-family: var(--font-family);
        color: white;
        position: absolute;
        width: 128px;
        bottom: 205px;
        left: 490px;
        text-align: center;
    }

    /* disconnect button */
    #disconnect-button {
        position: absolute;
        bottom: 110px;
        left: 1725px;
    }

    #about-button {
        position: absolute;
        bottom: 88px;
        left: 1466px;
    }

    #about-button:hover {
        filter: brightness(200%);
    }

    #profile-infos {
        position: absolute;
        bottom: 60px;
        left: 690px;
        width: 220px;
    }

    #audio-visu {
        position: absolute;
        bottom: 162px;
        left: 672px;
    }

    #audio-visu-canvas {
        border: solid 1px white;
    }

    #audio-controller {
        position: absolute;
        bottom: 110px;
        left: 20px;
        width: 250px;
    }

    .music-widget {
        padding: 5px;
        width: 40px;
    }

    .slider {
        -webkit-appearance: none;
        width: 150px;
        height: 3px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        border: 0;
        background: var(--hud-audio-volum-icon);
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 32px;
        height: 32px;
        border: 0;
        background: var(--hud-audio-volum-icon);;
        cursor: pointer;
    }

</style>