<template>
    <div>
        <div class="container">
            <!--            artist list-->
            <div v-if="displayMode === displayModeList.artistList">
                <div v-if="artistListSorted.length > 0">
                    <h3>Artist list</h3>
                    <!--                    letter list-->
                    <div class="container" style="text-align: center">
                            <span v-for="f in artistListSorted" :key="f.firstLetter">
                                <a :href="`#${f.firstLetter}`" class="badge badge-primary">
                                    {{f.firstLetter}}
                                </a> -
                            </span>
                            <span class="badge badge-primary">
                                #
                            </span>
                    </div>
                    <div class="container song-list">
                        <div v-for="a in artistListSorted" :key="a.firstLetter" :id="`${a.firstLetter}`" class="artist-sorted">
                            <hr>
                            <div class="row">
                                <div class="col-1">
                                    <a :href="`#${a.firstLetter}`" class="first-letter text-muted">
                                        {{a.firstLetter.toUpperCase()}}
                                    </a>
                                </div>
                                <div class="col">
                                    <div v-for="ar in a.artistList" :key="ar.Name" class="artist">
                                        <a class="entity-name" :href="`#${ar.Name}_details`" data-toggle="collapse" role="button"
                                           aria-expanded="false" :aria-controls="`#${ar.Name}_details`">
                                            {{ar.Name}}
                                        </a>
                                        <div class="artist-detail collapse" :id="`${ar.Name}_details`">
                                            <div class="row" v-for="al in ar.AlbumList" :key="`${ar.Name}_${al.Name}`">
                                                <div class="col-3">
                                                    <img class="album-image" :src="al.ImageUrl">
                                                </div>
                                                <div class="col title-list">
                                                    <div class="row">
                                                        <h4>{{al.Name}}</h4>
                                                    </div>
                                                    <div v-for="t in al.TitleList" class="row align-items-center" :key="t.Name">
                                                        <a class="col- btn btn-primary download-button btn-col" :href="t.Url" :download="`${t.Name}.mp3`" target="_blank">
                                                            <img src="../../assets/icons/download.png" class="download">
                                                        </a>
                                                        <div @click="play(t.Name, al.Name, al.Artist, t.Url)" class="col-lg btn btn-primary btn-col">
                                                            <img src="../../assets/icons/play.png" class="btn-img">
                                                            {{t.Name}}
                                                        </div>
                                                        <div v-if="!t.InLibrary" @click="addToLibrary(t, al.Artist)" class="col- btn btn-primary btn-col">
                                                            <img src="../../assets/icons/add.png" class="btn-img">
                                                            Add to library
                                                        </div>
                                                        <div v-else @click="removeFromLibrary(t, al.Artist)" class="col- btn btn-danger btn-col">
                                                            <img src="../../assets/icons/tras.png" class="btn-img">
                                                            Remove from library
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="text-muted" style="font-size: 36px; display: grid; place-items: center">
                    Nothing here
                </div>
            </div>

            <!--            album list-->
            <div v-if="displayMode === displayModeList.albumList">
                <div v-if="albumList.length > 0">
                    <h3>Album list</h3>
                    <!--                    letter list-->
                    <div class="container" style="text-align: center">
                            <span v-for="f in albumListSorted" :key="f.firstLetter">
                                <a :href="`#${f.firstLetter}`" class="badge badge-primary">
                                    {{f.firstLetter}}
                                </a> -
                            </span>
                        <span class="badge badge-primary">
                            #
                        </span>
                    </div>
                    <div class="container song-list">
                        <div v-for="a in albumListSorted" :key="`${a.firstLetter}`" :id="`${a.firstLetter}`">
                            <hr>
                            <div class="row">
                                <div class="col-1">
                                    <a :href="`#${a.firstLetter}`" class="first-letter text-muted">
                                        {{a.firstLetter}}
                                    </a>
                                </div>
                                <div class="col">
                                    <div v-for="al in a.albumList" :key="`${al.Artist}_${al.Name}`">
                                        <img :src="al.ImageUrl" class="album-image-small">
                                        <a class="entity-name" :href="`#${al.Name}_details`" data-toggle="collapse" role="button"
                                           aria-expanded="false" :aria-controls="`#${al.Name}_details`">
                                            {{al.Name}}
                                        </a>
                                        <div class="collapse" :id="`${al.Name}_details`">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img :src="al.ImageUrl" class="album-image">
                                                </div>
                                                <div class="col title-list">
                                                    <div class="row">
                                                        <h4>by {{al.Artist}}</h4>
                                                    </div>
                                                    <div v-for="t in al.TitleList" class="row align-items-center" :key="t.Name">
                                                        <a class="col- btn btn-primary download-button btn-col" :href="t.Url" :download="`${t.Name}.mp3`" target="_blank">
                                                            <img src="../../assets/icons/download.png" class="download">
                                                        </a>
                                                        <div @click="play(t.Name, al.Name, al.Artist, t.Url)" class="col-lg btn btn-primary btn-col">
                                                            <img src="../../assets/icons/play.png" class="btn-img">
                                                            {{t.Name}}
                                                        </div>
                                                        <div v-if="!t.InLibrary" @click="addToLibrary(t, al.Artist)" class="col- btn btn-primary btn-col">
                                                            <img src="../../assets/icons/add.png" class="btn-img">
                                                            Add to library
                                                        </div>
                                                        <div v-else @click="removeFromLibrary(t, al.Artist)" class="col- btn btn-danger btn-col">
                                                            <img src="../../assets/icons/tras.png" class="btn-img">
                                                            Remove from library
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="text-muted" style="font-size: 36px; display: grid; place-items: center">
                    Nothing here
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Library",
        props: {
            artistList: Array,
            albumList: Array,

            displayMode: String,
            displayModeList: Object,
        },
        computed: {
            artistListSorted: function() {
                let l = this.artistList.slice();
                l = l.sort();

                let res = [];
                for (let i = 0; i < l.length; i++) {
                    let firstLetter = l[i].Name[0].toLowerCase();

                    let f = res.find(o => { return o.firstLetter === firstLetter });

                    if (!f) {
                        res.push({
                            firstLetter: firstLetter,
                            artistList: [l[i]],
                        })
                    } else {
                        f.artistList.push(l[i])
                    }
                }

                return res.sort(this.compare)
            },

            albumListSorted: function() {
                let l = this.albumList.slice();
                l = l.sort();

                let res = [];
                for (let i = 0; i < l.length; i++) {

                    let firstLetter = l[i].Name[0].toLowerCase();

                    let f = res.find(o => { return o.firstLetter === firstLetter });

                    if (!f) {
                        res.push({
                            firstLetter: firstLetter,
                            albumList: [l[i]],
                        })
                    } else {
                        f.albumList.push(l[i])
                    }
                }
                return res.sort(this.compare)
            }
        },
        methods: {
            compare(a, b) {
                if (a.firstLetter < b.firstLetter) {
                    return -1;
                } else if (a.firstLetter > b.firstLetter) {
                    return 1;
                } else {
                    return 0;
                }
            },

            play(title, album, artist, url) {
                this.$emit('play', {
                    title: title,
                    artist: artist,
                    album: album,
                    url: url,
                })
            },

            addToLibrary(t, artist) {
                this.$emit('addToLibrary', t.Name, artist);
                setTimeout(function() {
                    t.InLibrary = true;
                }, 1000);
            },
            removeFromLibrary(t, artist) {
                this.$emit('removeFromLibrary', t.Name, artist);
                setTimeout(function() {
                    t.InLibrary = false;
                }, 1000);
            }
        }
    }
</script>

<style scoped>
    .album-image {
        width: 200px;
        margin: 10px;
    }

    .album-image-small {
        width: 50px;
        margin: 10px;
    }

    .first-letter {
        font-size: 30px;
    }

    .artist-detail {
        margin: 10px;
    }

    .title-list {
        margin: 10px;
    }

    .title {
        margin-bottom: 10px;
    }

    .download {
        width: 20px;
    }

    .download-button {
    }

    .btn-img {
        width: 20px;
        margin-right: 10px;
    }

    .btn-col {
        margin: 10px;
        text-align: left;
    }

    .song-list {
        /*max-height: 600px;*/
        /*overflow: auto;*/
    }

    /*artists*/

    .artist-sorted {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .artist {
        margin: 20px;
    }

    .entity-name {
        user-select: none;
        padding: 5px 10px;
        background-color: var(--widget-bg-color);
        border: solid 1px var(--border-color);
        border-radius: 20px;
    }

    .entity-name:hover {
        cursor: pointer;
        background-color: var(--widget-bg-color-hover);
        text-decoration: none;
    }

    .entity-name:active {
        font-weight: bold;
    }
</style>