<template>
    <div>
        <h1>Library</h1>
        <p v-if="displayMode === displayModeList.albumList">
            It displays the albums you've added to your library.
        </p>
        <p v-else-if="displayMode === displayModeList.artistList">
            It displays the artists you've added to your library.
        </p>

<!--        menu-->
        <div class="container" style="text-align: center">
                <span class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary active" @click="setArtistListView">
                        <img src="../../assets/icons/artist_white.png" style="width: 50px">
                        <input type="radio" name="view" id="artists" autocomplete="off">
                    </label>
                    <label class="btn btn-outline-primary" @click="setAlbumListView">
                        <img src="../../assets/icons/album.png" style="width: 50px">
                        <input type="radio" name="view" id="albums" autocomplete="off" checked>
                    </label>
                </span>
        </div>

<!--        library-->
        <Library :display-mode="displayMode" :display-mode-list="displayModeList" :album-list="albumList" :artist-list="artistList"
                 @play="play" @removeFromLibrary="removeFromLibrary"></Library>
    </div>
</template>

<script>
    import libraryService from "@/services/library";
    import config from "@/config/config.json"
    import Library from "@/components/connected/Library";

    export default {
        name: "LibraryView",
        components: {Library},
        data() {
            return {
                service: null,

                albumList: [],
                artistList: [],

                displayMode: null,
                displayModeList: {
                    artistList: "artistList",
                    albumList: "albumList",
                },
            }
        },
        mounted() {

            const jwt = localStorage.getItem(config.jwt.key);
            this.service = new libraryService(jwt);

            this.getArtistsList();
            this.getAlbumsList();

            this.setArtistListView();
        },
        methods: {
            // dom
            setAlbumListView() {
                if (this.displayMode !== this.displayModeList.albumList) {
                    this.displayMode = this.displayModeList.albumList;
                }
            },

            setArtistListView() {
                if (this.displayMode !== this.displayModeList.artistList) {
                    this.displayMode = this.displayModeList.artistList;
                }
            },

            // api
            getAlbumsList() {
                let self = this;
                this.service.getAlbumList()
                    .then(function(res) {
                        self.albumList = res
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },

            getArtistsList() {
                let self = this;
                this.service.getArtistList()
                    .then(function(res) {
                        self.artistList = res
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },

            removeFromLibrary(title, artist) {
                let self = this;
                this.service.removeFromLibrary(title, artist)
                .then(function(res) {
                    self.log(res);
                    self.getAlbumsList();
                    self.getArtistsList();
                })
                .catch(function(e) {
                    self.log(e)
                })
            },

            log(msg) {
                this.$emit('log', msg);
            },

            play(song) {
                this.$emit('play', song)
            }
        }
    }
</script>

<style scoped>
</style>