<template>
    <div id="music-view" class="container-fluid">
        <h1>Musics</h1>

        <p v-if="displayMode === displayModeList.albumList">
            It displays the albums that can be added to your library.
        </p>
        <p v-else-if="displayMode === displayModeList.artistList">
            It displays the artists that can be added to your library.
        </p>
        <p v-else-if="displayMode === displayModeList.search">
            Here you can search for available songs and Spotify records.
        </p>

        <div class="container" style="text-align: center">
                <span class="btn-group btn-group-toggle" data-toggle="buttons">

<!--                    artist by default-->
                    <label class="btn btn-outline-primary active" @click="setDisplayModeArtist">
                        <img src="../../assets/icons/artist_white.png" style="width: 50px">
                        <input type="radio" name="view" id="artists" autocomplete="off" checked>
                    </label>

                    <label class="btn btn-outline-primary" @click="setDisplayModeAlbum">
                        <img src="../../assets/icons/album.png" style="width: 50px">
                        <input type="radio" name="view" id="albums" autocomplete="off">
                    </label>

                    <label class="btn btn-outline-primary" @click="setDisplayModeSearch">
                        <img src="../../assets/icons/search.png" style="width: 50px">
                        <input type="radio" name="view" id="search" autocomplete="off">
                    </label>
                </span>
        </div>

        <MusicSearch id="music-search" v-if="displayMode === displayModeList.search"
                     @play="play" @log="log"></MusicSearch>
        <Library v-else :display-mode="displayMode" :display-mode-list="displayModeList" :artist-list="artistList" :album-list="albumList"
                 @play="play" @addToLibrary="addToLibrary" @removeFromLibrary="removeFromLibrary"></Library>
    </div>
</template>

<script>
    // import musicsService from "@/services/musics";
    import config from "@/config/config.json"
    import MusicSearch from "@/components/connected/MusicSearch";
    import Library from "@/components/connected/Library";
    import libraryService from "@/services/library";

    export default {
        name: "MusicsView",
        components: {Library, MusicSearch},
        data() {
            return {
                service: null,

                displayMode: "",
                displayModeList: {
                    artistList: "artistList",
                    albumList: "albumList",
                    search: "search",
                },

                albumList: [],
                artistList: [],
            }
        },
        mounted() {
            const jwt = localStorage.getItem(config.jwt.key);
            this.service = new libraryService(jwt);

            this.getArtistList();
            this.getAlbumList();

            this.setDisplayModeArtist()
        },
        methods: {
            // dom
            setDisplayModeArtist() {
                this.displayMode = this.displayModeList.artistList
            },
            setDisplayModeAlbum() {
                this.displayMode = this.displayModeList.albumList
            },
            setDisplayModeSearch() {
                this.displayMode = this.displayModeList.search
            },

            // api
            getArtistList() {
                let self = this;
                this.service.getAvailableArtistList()
                    .then(function(l) {
                        self.artistList = l;
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },

            getAlbumList() {
                let self = this;
                this.service.getAvailableAlbumList()
                    .then(function(l) {
                        self.albumList = l;
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },

            addToLibrary(title, artist) {
                let self = this;
                this.service.addToLibrary(title, artist)
                    .then(function(msg) {
                        self.log(msg)
                    })
                    .catch(function(err) {
                        self.log(err)
                    })
            },
            removeFromLibrary(title, artist) {
                let self = this;
                this.service.removeFromLibrary(title, artist)
                    .then(function(res) {
                        self.log(res);
                        self.getAlbumsList();
                        self.getArtistsList();
                    })
                    .catch(function(e) {
                        self.log(e)
                    })
            },

            log(msg) {
                this.$emit('log', msg);
            },

            play(song) {
                this.$emit('play', song)
            }

        }
    }
</script>

<style scoped>
    #music-search {
        margin-top: 10px;
        margin-bottom: 50px;
    }


</style>