<template>
    <div class="container">
        <!--        search form-->
        <div class="row">
            <div class="input-group mb-2">
                <input type="text" class="form-control"
                       v-model="queryInput" @change="search" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-primary" @click="search">
                        Search
                    </button>
                </div>
            </div>
        </div>

        <!--        results filters-->
        <div class="row" style="margin-top: 20px" v-if="this.resultList.length > 0">
            <div class="container" id="set-display-mode">
                <div class="row">
                    <div class="col" style="text-align: right" >
                        <span class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-primary active display-mode" @click="setDisplayGrid" id="display-mode-grid">
                                <input type="radio" name="view" id="grid" autocomplete="off" checked>
                            </label>
                            <label class="btn btn-outline-primary display-mode" @click="setDisplayList" id="display-mode-list">
                                <input type="radio" name="view" id="list" autocomplete="off">
                            </label>
                        </span>
                    </div>
                    <div class="col" style="text-align: left">
                        <span class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-primary active display-mode" @click="setFilterAll" id="display-mode-all" >
                                <input type="radio" name="view" autocomplete="off" checked>
                            </label>
                            <label class="btn btn-outline-primary display-mode" @click="setFilterAvailable" id="display-mode-available" >
                                <input type="radio" name="view" autocomplete="off">
                            </label>
                            <label class="btn btn-outline-primary display-mode" @click="setFilterNotAvailable" id="display-mode-not-available" >
                                <input type="radio" name="view" autocomplete="off">
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--        results-->
        <div class="row" style="margin-top: 20px">

            <!--            list-->
            <div class="container-fluid" v-if="displayMode === displayModeList.list">
                <table id="result-table" class="table">
                    <thead id="result-table-headers">
                    <tr>
                        <td></td>
                        <td>Title</td>
                        <td>Album</td>
                        <td>Artist</td>
                        <td style="text-align: center">Available</td>
                        <td>Added At</td>
                        <td>Play</td>
                        <td>Add</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="r in resultListComputed" :key="getResultId(r)">
                        <td><img :src="r.ImageUrl" style="width: 50px"></td>
                        <td>{{r.Title}}</td>
                        <td>{{r.Album}}</td>
                        <td>{{r.Artist}}</td>
                        <td style="text-align: center">
                            <img v-if="r.Available" src="../../assets/icons/connection-status-on-24.png">
                            <img v-else src="../../assets/icons/connection-status-off-24.png">
                        </td>
                        <td>
                            <span v-if="r.Available">
                                {{parseDate(r.AddedAt)}}
                            </span>
                            <span class="text-muted" v-else>
                                Not available yet
                            </span>
                        </td>
                        <td>
                            <span v-if="r.Url === ''" class="text-muted">
                                No preview
                            </span>
                            <span v-else-if="r.Available" class="btn btn-primary" @click="play(r)">
                                Play
                            </span>
                            <span v-else class="btn btn-primary" @click="play(r)">
                                Preview
                            </span>
                        </td>
                        <td>
                            <div v-if="!addingToWaitingList">
                                <span v-if="r.InLibrary" class="text-muted">In library</span>
                                <button v-else-if="r.Available" class="btn btn-primary">Add to library</button>
                                <button v-else class="btn btn-primary" @click="addToWaitingList(r)" >Add to waiting list</button>
                            </div>
                            <div v-else>
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--            grid-->
            <div class="container-fluid" v-if="displayMode === displayModeList.grid">
                <div class="card mb-3 result-card" v-for="r in resultListComputed" :key="getResultId(r)">
                    <a class="result-card-expand" :href="`#${getResultId(r)}`" data-toggle="collapse" role="button"
                       aria-expanded="false" :aria-controls="getResultId(r)">
                    </a>

                    <span class="result-card-available">
                        <img v-if="r.Available" src="../../assets/icons/connection-status-on-24.png">
                        <img v-else src="../../assets/icons/connection-status-off-24.png">
                    </span>

                    <span style="display: grid; place-items: center">

                        <span v-if="!addingToWaitingList">
                            <span class="text-muted result-card-library-status"
                                  v-if="r.InLibrary">In library</span>
                            <button class="btn btn-primary result-card-library-status"
                                    v-else-if="r.Available">add to library</button>
                            <button @click="addToWaitingList(r)" v-else class="btn btn-primary result-card-library-status" >Add to waiting list</button>
                        </span>
                        <span v-else>
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </span>


                        <span v-if="r.Url !== ''">
                            <button v-if="r.Available" class="btn btn-primary result-card-library-preview" @click="play(r)">
                                Play
                            </button>
                            <button v-else class="btn btn-primary result-card-library-preview" @click="play(r)">
                                Preview
                            </button>
                        </span>
                    </span>

                    <div class="card-body">
                        <span class="card-title" data-toggle="tooltip" data-placement="top" :title="r.Title">
                            {{getTitle(r.Title)}}
                        </span>
                    </div>

                    <div class="card-body collapse" :id="getResultId(r)">
                        <p class="card-text">
                            <span class="result-card-label">by</span><br>
                            <small><b>{{r.Artist}}</b></small><br>

                            <span class="result-card-label">in album</span><br>
                            <small><b>{{r.Album}}</b></small><br>

                            <span class="result-card-label">published at</span><br>
                            <small><b>{{r.PublishedAt}}</b></small>

                            <span v-if="r.Available">
                                <br>
                                <span class="result-card-label">added at</span><br>
                                <small><b>{{r.AddedAt}}</b></small>
                            </span>
                        </p>
                    </div>
                    <div style="display: grid; place-items: center">
                        <img :src="r.ImageUrl" class="result-card-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import config from "@/config/config";
    import musicsService from "@/services/musics";

    export default {
        name: "MusicSearch",
        data() {
            return {
                service: null,

                queryInput: "",
                resultList: [],

                filterAvailable: null,
                filterAvailableList: {
                    isAvailable: true,
                    isNotAvailable: false,
                    all: null,
                },

                displayMode: "",
                displayModeList: {
                    list: "list",
                    grid: "grid"
                },

                addingToWaitingList: false,
            }
        },
        mounted() {
            this.displayMode = this.displayModeList.grid;
            this.filterAvailable = this.filterAvailableList.all;

            this.resultList = [];

            const jwt = localStorage.getItem(config.jwt.key);
            this.service = new musicsService(jwt)
        },
        computed: {
            resultListComputed: function() {
                if (this.filterAvailable === this.filterAvailableList.all) {
                    return this.resultList
                }

                let l = [];
                for (let i = 0; i < this.resultList.length; i++) {
                    let el = this.resultList[i];
                    if (el.Available === this.filterAvailable) {
                        l.push(el)
                    }
                }

                return l
            },
        },
        methods: {
            search() {
                if (this.queryInput === "") {
                    this.log("empty entry");
                    return
                }

                if (this.queryInput.length < 5) {
                    this.log("query is too short");
                    return
                }

                let self = this;
                this.service.search(this.queryInput)
                    .then(function(res) {
                        self.resultList = res;
                    })
            },

            addToWaitingList(r) {
                this.addingToWaitingList = true;

                let self = this;
                this.service.addToWaitingList(r.Title, r.Artist, r.Album,
                    r.PublishedAt, r.ImageUrl, r.Genres)
                    .then(function(res) {
                        self.log(res);
                        self.addingToWaitingList = false;
                    })
                    .catch(function(err) {
                        self.log(err);
                        self.addingToWaitingList = false;
                    })
            },

            setDisplayGrid() {
                this.displayMode = this.displayModeList.grid
            },

            setDisplayList() {
                this.displayMode = this.displayModeList.list
            },

            getTitle(t) {
                const l = 25;
                if (t.length > l) {
                    return t.slice(0, l) + "..";
                }
                return t
            },

            getResultId(r) {
                let s = r.Title + " " + r.Artist + " " + r.Album;
                return s.toLowerCase().split(' ').join('_');
            },

            parseDate(d) {
                return new Date(d).toDateString()
            },

            log(msg) {
                this.$emit('log', msg);
            },

            setFilterAll() {
                this.filterAvailable = this.filterAvailableList.all
            },

            setFilterAvailable() {
                this.filterAvailable = this.filterAvailableList.isAvailable
            },

            setFilterNotAvailable() {
                this.filterAvailable = this.filterAvailableList.isNotAvailable
            },

            play(r) {
                this.$emit('play', {
                    title: r.Title,
                    artist: r.Artist,
                    album: r.Album,
                    url: r.Url
                })
            }
        }
    }
</script>

<style scoped>
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    #result-table {
        color: var(--text-color);
    }

    #result-table-headers {
        font-weight: bold;
        background-color: var(--header-bg-color);
    }

    #display-mode-grid {
        background-image: var(--grid-view-bg-img);
        background-repeat: no-repeat;
    }

    #display-mode-list {
        background-image: var(--list-view-bg-img);
        background-repeat: no-repeat;
    }

    #display-mode-all {
        background-image: url("../../assets/icons/connection-status-all-24-widget.png");
        background-repeat: no-repeat;
    }

    #display-mode-available {
        background-image: url("../../assets/icons/connection-status-on-24-widget.png");
        background-repeat: no-repeat;
    }

    #display-mode-not-available {
        background-image: url("../../assets/icons/connection-status-off-24-widget.png");
        background-repeat: no-repeat;
    }

    .display-mode {
        width: 48px;
        height: 48px;
    }

    #set-display-mode {
        /*display: inline-grid;*/
        /*place-items: center;*/
    }

    .result-card {
        display: inline-grid;
        width: 300px;
        color: var(--text-color);
        background-color: var(--card-bg-color);
        border: solid 2px var(--border-color);
        margin: 30px;
    }

    .result-card-img {
        width: 290px;
        height: 290px;
        margin-top: 3px;
    }

    .result-card-label {
        font-size: 10px;
    }

    .result-card-expand {
        background-image: var(--card-expand-img);
        width: 30px;
        height: 30px;
    }

    .result-card-available {
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .result-card-library-status {
        font-size: 10px;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .result-card-library-preview {
        font-size: 10px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

</style>