<template>
    <div>
        <div>
            <h1>Profile</h1>
            <div class="text-muted">
                This part of the website is being build...
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProfileView"
    }
</script>

<style scoped>

</style>