<template>
    <div id="app">

<!--        background image-->
        <div id="bg-img"></div>

        <div id="content">

<!--        router-->
            <MainRouter></MainRouter>

        </div>
    </div>
</template>

<script>

    import MainRouter from "@/components/notConnected/MainRouter";

    export default {
        name: 'App',
        components: {
            MainRouter,
        },
    }
</script>

<style>
    #bg-img {
        background-image: var(--bg-img);
        background-repeat: no-repeat;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: -10;
    }
    #app {
        color: var(--text-color);
    }

    /*#app-logger {*/
    /*    position: fixed;*/
    /*    width: 800px;*/
    /*    left: 50%;*/
    /*    margin-left: -400px;*/
    /*    z-index: 2;*/
    /*}*/

    /*#ribbon {*/
    /*    position: sticky;*/
    /*    z-index: 10;*/

    /*    border-top: solid 3px var(--ribbon-border-color);*/
    /*    border-bottom: solid 3px var(--ribbon-border-color);*/
    /*    width: 100%;*/
    /*    top: 0;*/
    /*    background-color: var(--ribbon-bg-color);*/
    /*    color: var(--text-color);*/
    /*    padding: 12px;*/
    /*    font-family: var(--font-family);*/
    /*}*/

    /* todo */
    /*   nhimzy@gmail.com*/
</style>
